    /*.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-11, .col-md-10, .col-md-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-11, .col-sm-10, .col-sm-12


*/
    
    .pro_name_verified_per {
        background: #fff;
        border-radius: 7px;
        margin-top: 0px;
        padding: 10px 15px !important;
        box-shadow: none;
    }
    
    .or_social {
        bottom: 105px;
    }
    
    .main_logo {
        width: 90%;
    }
    
    .head_bottom {
        border-top: 0;
    }
    
    #pills-tab,
    .store_nav_pills {
        white-space: nowrap;
        flex-wrap: nowrap;
        max-width: 100%;
        overflow-y: hidden;
    }
    
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.5;
    }
    
    #product_show_tab_link_id {
        font-size: 15px !important;
    }
    
    input,
    select {
        font-size: 13px!important;
        height: 35px!important;
    }
    
    textarea {
        font-size: 13px!important;
    }
    
    p {
        text-align: justify;
    }
    
    body,
    a {
        line-height: 1.5;
        font-size: 14px;
    }
    
     ::placeholder {
        font-size: 12px!important;
    }
    
    .main_view_pro__,
    .pro_main_photo__ {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    
    section {
        padding-top: 0px!important;
    }
    
    .main_view_pro__ {
        margin-bottom: 20px;
    }
    
    .progress_bar {
        height: 3px;
        z-index: 9999 !important;
        background-color: white;
        position: absolute;
        top: 0;
    }
    
    .after_search_menu,
    .cart_fixed_bar,
    .head_bottom .custom,
    .main-footer,
    .ssl_payment_logo,
    .not_mobile {
        display: none;
    }
    
    #main_search_bar::placeholder {
        font-size: 13px;
    }
    
    #main_search_bar {
        width: 100%!important;
        height: 40px!important;
    }
    
    .fixed-header #main_search_bar {
        background: #fff;
        border-radius: 7px !important;
    }
    
    #main_search_btn {
        height: 45px!important;
    }
    
    .search_bar_body .input-group {
        flex-wrap: unset;
    }
    
    .full_navbar_body {
        height: 63px;
    }
    
    .head_bottom .items-center {
        height: 30px !important;
        padding: 0 !important;
        background: #fff;
    }
    
    .menu-stripes {
        width: 20px !important;
        margin: 4px auto !important;
        border-radius: 3px !important;
        background-color: #111!important;
    }
    
    .sidebar {
        width: 265px!important;
    }
    
    .sidebar-btn.sidebar-show {
        left: 34px!important;
        padding: 15px 0px!important;
    }
    
    .card {
        padding: 0 !important;
    }
    
    .product_price {
        font-size: 17px;
    }
    
    .product_card_name {
        font-size: 13px;
    }
    
    .container {
        width: 100%;
        max-width: 100%;
    }
    
    .product-name {
        font-size: 15px;
    }
    
    .pro_main_photo__ {
        text-align: center;
    }
    
    .product_view_img {
        width: 100%;
    }
    
    .place_prive_tag_amnt {
        position: absolute;
        right: 20px;
    }
    
    .cart_index_body {
        padding-right: 15px!important;
        border: 0;
        margin: 0px 0px 15px 0px;
        border-radius: 0;
    }
    
    .side_bar_customer_part {
        padding-right: 15px!important;
        background: #fff;
    }
    
    .body_customer_part {
        padding-left: 15px !important;
        border-radius: 0 !important;
    }
    
    .pro_details_name_title_ {
        border: 0;
        border-radius: 7px;
        box-shadow: none;
    }
    
    .cart_btn_pro_main {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product_side_bar {
        background: #f7f8fa;
        padding: 15px 15px;
        border-radius: 5px;
    }
    /*
.delivery_option_info {
	padding: 15px;
	right: 6%;
	top: 1125px;
	width: 88%;
}
.check_cost_ship {
	padding: 15px;
	right: 5%;
	top: 1066px;
	width: 91%;
	border-radius: 7px;
}
.return_warranty_info {
	padding: 15px;
	right: 6%;
	top: 1360px;
	width: 88%;
}
*/
    
    .card_wrong_info_report h6 {
        margin: 0 !important;
        padding: 15px;
        font-size: 14px;
    }
    
    .close_btn {
        right: 0;
        top: 0;
        font-size: 20px;
        position: absolute;
    }
    
    .card_edit_shop_info,
    .card_edit_shop_photo_product,
    .card_edit_shop_info_main__,
    .card_edit_shop_info_main__social {
        width: 94%;
        padding: 15px !important;
    }
    
    #submit_edit_info {
        width: 100%;
    }
    
    .card_edit_shop_info h6 {
        margin: 0 !important;
        padding: 15px;
        font-size: 14px;
    }
    
    .tab_pro_seller__ .nav-link {
        font-size: 13px;
    }
    
    #submit_edit_info,
    #submit_edit_info_img,
    #submit_edit_info_img_banner {
        width: 30%;
    }
    
    .tab_pro_seller__ {
        margin: 160px 0px 0px 0px;
    }
    
    #add_shop_form .btn {
        margin-bottom: 5px;
        margin-right: 1px;
    }
    
    .card_edit_shop_info .close_btn,
    .card_edit_shop_photo_product .close_btn,
    .card_edit_shop_info_main__ .close_btn,
    .card_edit_shop_info_main__social .close_btn {
        right: 0;
        top: 0;
        font-size: 20px;
        position: absolute;
    }
    
    .wrong_info_report_card_body {
        font-size: 12px;
    }
    
    .wrong_info_report_card_body select {
        font-size: 12px !important;
    }
    
    .edit_shop_info {
        font-size: 12px;
    }
    
    .edit_shop_info select {
        font-size: 12px !important;
    }
    
    #search_place {
        margin-bottom: 7px;
    }
    
    .login_registration {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px!important;
    }
    
    #google_login,
    #facebook_login {
        height: 39px;
        margin-bottom: 15px;
    }
    
    .flex-column {
        -ms-flex-direction: initial!important;
        flex-direction: initial!important;
    }
    
    .btn {
        font-size: 13px !important;
    }
    
    .cart_summery_info_price,
    .apply_promo_box_bar {
        border: 0;
        box-shadow: none;
    }
    
    .sweet-alert h2 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .lead {
        font-size: .80rem;
    }
    
    .menu-stripes {
        position: relative;
        height: 4px;
        width: 28px;
        margin: 7px auto;
        background-color: crimson;
        border-radius: 5px;
    }
    
    .sidebar-show .menu-stripes {
        height: 3px !important;
        width: 22px !important;
        margin: -4px auto !important;
        border-radius: 7px !important;
        position: absolute;
        top: 15px;
        right: 27px;
        background: #fff!important;
    }
    
    .search_bar_body {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
    }
    
    .card.search_result_body {
        width: 95%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .1), 0px 2px 3px rgba(0, 0, 0, .12), 0px 1px 3px rgba(0, 0, 0, .14);
        overflow: unset;
        z-index: 2040;
        position: fixed;
        top: 105px;
    }
    
    .search_bar_body_top_btn li a {
        font-size: 12px;
    }
    
    #pills-tabContent h6 {
        font-size: 13px;
    }
    
    #pills-tabContent {
        overflow: auto;
        height: 390px;
        padding: 0px 20px;
        margin-bottom: 30px;
    }
    
    .search_result_body .card-body {
        padding: 0;
    }
    
    .search_bar_body_top_btn {
        padding: 5px;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        border-radius: 7px;
        color: #4285f4 !important;
        background: #f0f2f5;
        padding: 7px 10px;
    }
    
    .mobile-bottom-nav {
        display: -webkit-box;
        display: flex;
        height: 60px;
        box-shadow: 0 -2px 5px -3px #333;
        background-color: #fff;
    }
    
    .mobile-bottom-nav__item {
        -webkit-box-flex: 1;
        flex-grow: 1;
        text-align: center;
        font-size: 12px;
        display: -webkit-box;
        display: flex;
        cursor: pointer;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .main_footer_mobile,
    .navbar_mobile_class_row {
        display: block;
    }
    
    .mobile-bottom-nav__item--active {
        font-weight: 600;
    }
    
    .mobile-bottom-nav__item-content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    
    .full_navbar_body {
        background-color: transparent !important;
        color: #fff !important;
        position: absolute;
        width: 100%;
        top: 50px;
        height: 40px;
    }
    
    .mobile-bottom-nav__item-content .cart_count {
        position: absolute;
        top: 7px;
        right: 33%;
        width: 19px;
        height: 19px;
        border-radius: 30px;
        justify-content: center;
        font-weight: 600;
        align-items: center;
        display: flex;
    }
    
    .mobile-bottom-nav__item-content .notification_count {
        position: absolute;
        top: 7px;
        font-weight: 600;
        right: 8%;
        width: 19px;
        height: 19px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart_mobile_menu {
        height: 100%;
        background: #fff;
        position: fixed;
        z-index: 2020;
        width: 100%;
        padding: 0px;
        top: 0;
    }
    
    .menu_cart_mobile_view {
        padding: 15px !important;
    }
    
    .cart_top_mobile {
        margin-bottom: 0px;
        padding: 15px;
        border-bottom: 10px solid #f0f2f5;
    }
    
    .notification_mobile_menu {
        height: 100%;
        background: #fff;
        position: fixed;
        z-index: 2020;
        width: 100%;
        padding: 0px;
        top: 0;
    }
    
    .sub_cat_mobile_menu {
        height: 100%;
        background: #fff;
        position: fixed;
        z-index: 2020;
        width: 100%;
        padding: 0px;
        top: 0;
    }
    
    .cat_mobile_menu {
        height: 100%;
        background: #fff;
        position: fixed;
        z-index: 2020;
        width: 100%;
        padding: 0px;
        top: 0;
    }
    
    .user_mobile_menu {
        height: 100%;
        background: #fff;
        position: fixed;
        z-index: 3460;
        width: 100%;
        padding: 0px;
        top: 0;
    }
    
    .card.menu_notify_mobile_view {
        margin: 0;
        height: 100%;
        z-index: 4040;
        overflow-y: auto;
        padding: 15px 10px !important;
        font-size: 15px;
    }
    
    .card.menu_user_mobile_view {
        margin: 52px 0px;
        height: 100%;
        z-index: 4040;
        overflow-y: auto;
        padding: 15px 0px !important;
    }
    
    .user_top_mobile {
        margin-bottom: 15px;
        border-bottom: 10px solid #ddd;
        position: fixed;
        top: 0;
        z-index: 3050;
        width: 100%;
        padding: 15px;
        background: #fff;
    }
    
    .input-group-append .btn,
    .input-group-prepend .btn {
        z-index: 1;
    }
    
    .list-group-item.active {
        z-index: 1;
    }
    
    #notification_m #notify_data_btn_link {
        width: 100%;
        white-space: normal;
    }
    
    .card.menu_user_mobile_view .card-body,
    .card.menu_notify_mobile_view .card-body {
        padding: 0px;
    }
    
    .menu_cart_mobile_view .card-body {
        padding: 5px;
    }
    
    .navbar_mobile_class {
        line-height: 43px;
        background: crimson;
        padding: 0px 15px;
        font-size: 15px;
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    
    .navbar_mobile_class_row {
        flex-wrap: initial;
        display: flex;
        padding: 7px !important;
    }
    
    #category_mobile {
        font-size: 12px;
        padding: 9px 0;
    }
    
    .category_list_mobile {
        width: 26%;
        text-align: center;
        height: 500px;
        overflow-y: auto;
    }
    
    .sub_cat_mobile_img {
        width: 30px;
        height: 30px;
    }
    
    .sub_cat_nav_link a {
        font-size: 10px;
    }
    
    .pro_mobile_nav_show {
        margin-left: -12px;
    }
    
    .card-header.card_body_m___ {
        border: 1px solid #ddd;
        border-radius: 7px;
        background: transparent;
        margin-bottom: 5px;
        padding: 9px 15px;
    }
    
    .more_nav_mobile_view {
        position: absolute;
        top: 45px;
        right: 20px;
        border-radius: 3px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .1), 0px 2px 3px rgba(0, 0, 0, .12), 0px 1px 3px rgba(0, 0, 0, .14);
        transform: translateY(-1px);
    }
    
    .more_nav_mobile_view .list-group-item {
        border: 0;
        font-size: 13px;
        padding: 8px 19px;
    }
    
    .more_nav_mobile_view .list-group-item:hover {
        background-color: rgba(221, 221, 221, 0.18);
    }
    
    .top_products_second {
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 7px;
        font-size: 13px;
        cursor: pointer;
        height: inherit;
    }
    
    .card-categories-li-collection img {
        width: 40px !important;
        margin-bottom: 10px;
    }
    
    .two_home_banner_side_card {
        min-height: inherit;
        max-height: inherit;
    }
    
    .second_top_reviewed_pro_per {
        flex: 1 0 50%;
    }
    
    .second_top_reviewed_pro_per {
        padding: 4px !important;
    }
    
    .top_review_img_pro_per_ {
        padding: 10px 30px;
        width: 150px;
    }
    
    .top_big_btn {
        height: 110px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
    }
    
    .top_products_second {
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 7px;
        font-size: 12px;
        cursor: pointer;
        height: inherit;
        text-align: center;
    }
    
    .store_card_body_title {
        padding: 15px 10px;
    }
    
    .card-categories-li-collection .collection_count {
        font-size: 11px;
        margin-top: 1px;
    }
    
    .card-categories-li-collection h6 {
        font-size: 13px;
    }
    
    .item_view_2_card_side h6 {
        font-size: 13px;
    }
    
    .item_view_2_card_side h5 {
        font-size: 14px;
    }
    
    .text-uppercase.h5 {
        font-size: 14px;
    }
    
    .product_basic_info_details .card-body,
    .details_title_view_pan_related,
    .details_about_product_menu_view_all,
    .pro_details_name_title_ {
        padding: 0!important;
    }
    
    .reviews_count_by_star {
        flex-wrap: inherit;
        margin-top: 40px;
    }
    
    .row.load_data_table.related {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .related_productsduifg {
        margin-bottom: 40px;
    }
    
    .category_filter_product,
    .category_filter_product_item,
    .category_filter_item_head {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    
    .load_data_table.cat {
        padding: 10px;
    }
    
    .cat_search_all_search {
        width: 54%;
    }
    
    #cat_search_all::placeholder {
        font-size: 13px;
    }
    
    #cat_search_all {
        height: 32px;
        width: 155px;
    }
    
    .cat_search_all_title {
        font-size: 16px;
        position: absolute;
        top: -27px;
        width: 100%;
        justify-content: center;
        display: flex;
        left: 0;
        border: 1px solid #ddd;
        border-radius: 7px;
        padding: 10px;
    }
    
    .category_filter_product_item {
        display: none;
        position: fixed;
        width: 100%;
        padding: 0px !important;
        z-index: 1910;
        height: 100%;
        top: 56px;
        overflow-x: hidden;
        transform: translateY(-1px);
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .category_filter_product_item .card:last-child {
        margin-bottom: 200px;
    }
    
    .filter_sorts_icon {
        display: block;
    }
    
    .filter_icon.cursor {
        position: absolute;
        top: 20px;
        padding: 7px;
        border-radius: 7px;
        border: 1px solid #ddd;
        background: #fff;
    }
    
    .category_filter_item_head {
        padding-top: 40px;
        background: #fff;
        margin-top: 15px!important;
    }
    
    .side_bar_customer_part.home {
        display: none;
    }
    
    .users_rating {
        margin-top: 7px;
    }
    
    .question_post_restriction_login {
        padding: 20px 15px !important;
    }
    
    .col_brand {
        border: 1px solid #ddd;
        border-radius: 7px;
        padding: 5px;
    }
    
    .card-brand-li {
        width: inherit;
        height: 162px;
        border: unset;
        border-radius: unset;
        margin-bottom: 0px;
        margin-right: unset;
    }
    
    .col_brand:hover {
        border-radius: 7px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .1), 0px 2px 3px rgba(0, 0, 0, .12), 0px 1px 3px rgba(0, 0, 0, .14);
        transform: translateY(-1px);
    }
    
    .card-brand-li:hover {
        border-radius: unset;
        box-shadow: unset;
        transform: unset;
    }
    
    .col_brand .card-title {
        font-size: 12px;
    }
    
    .col_category {
        border: 1px solid #ddd;
        border-radius: 7px;
        padding: 5px;
        height: 240px;
    }
    
    .col_cat_mobile {
        border: 1px solid #ddd;
        border-radius: 7px;
        padding: 5px !important;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .m_category_card_mobile_cat {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0;
        column-gap: 0;
    }
    
    .sub_cat_img_nav {
        border-radius: 7px;
        padding: 8px !important;
        height: 75px;
        text-align: center;
    }
    
    .nav_m_shoing_card {
        padding: 6px 5px !important;
        border: 1px solid #ddd;
    }
    
    .sub_cat_nav_link {
        padding: 4px;
    }
    
    .col_cat_mobile_main_class {
        padding: 4px;
    }
    
    #category_mobile i::before {
        font-size: 14px;
    }
    
    .card-categories-li-collection-cat {
        width: inherit;
        height: 250px;
        border: unset;
        border-radius: unset;
        margin-bottom: 0px;
        margin-right: unset;
    }
    
    .col_category:hover {
        border-radius: 7px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, .1), 0px 2px 3px rgba(0, 0, 0, .12), 0px 1px 3px rgba(0, 0, 0, .14);
        transform: translateY(-1px);
    }
    
    .col_cat_mobile:hover {
        background: #f0f2f5;
    }
    
    .card-categories-li-collection-cat:hover {
        border-radius: unset;
        box-shadow: unset!important;
        transform: unset;
    }
    
    .col_category .card-title {
        font-size: 12px;
    }
    
    .card-categories-ul-cat {
        margin-top: 32px;
    }
    
    .category_filter_product_item_wrapper {
        width: 60%;
        background: #fff;
        padding: 16px 10px !important;
    }
    
    .hide_filter {
        position: absolute;
        top: 10px;
        font-size: 19px;
        color: #fff;
        width: 100%;
        left: 63%;
        height: 100%;
    }
    
    .filter_icon.cursor:hover {
        color: #fff;
        background: #4285f4;
        transition: 0.25s ease all;
        border: 0;
    }
    
    .side_bar_customer_part.sub_category_hover_list {
        left: 0px;
        top: 160px;
        font-size: 13px;
        background: transparent;
    }
    
    .close_mega_menu_bg {
        background-color: transparent;
        width: 20px;
        height: 20px;
        right: 8px;
        top: 7px;
    }
    
    .close_mega_menu:hover~.close_mega_menu_bg {
        background-color: #eee;
        transition: 0.20s ease all;
    }
    
    .close_mega_menu:hover {
        color: #000!important;
        transition: 0.23s ease all;
    }
    
    #get_sub_cat .sub_cat_home_tab {
        width: 50%;
    }
    
    .head_bottom {
        border-bottom: 0 !important;
        box-shadow: unset !important;
        padding: 0;
        top: 5px;
        position: absolute;
    }
    
    .navbar_overlay_body {
        background: #fff;
        height: 1px;
    }
    
    .content-wrapper {
        margin: 100px 0px;
        overflow: hidden;
    }
    
    #sidebar-btn {
        border: 0;
        top: 5px;
    }
    
    .top_res_acount_button_welcome {
        z-index: 2020;
        position: absolute;
        right: 18px;
        color: #444;
        font-size: 16px;
        background: #f0f2f5;
        width: 35px;
        height: 35px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }
    
    .head_bottom {
        border-bottom: 0 !important;
        box-shadow: unset !important;
    }
    
    .menu_icon_nav___ {
        border-left: 0!important;
        border-right: 0!important;
    }
    
    .nav_bottom_menu_list {
        border-right: 0!important;
    }
    
    .navbar-brand {
        color: #000 !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -47px;
        z-index: 1;
    }
    
    .item_card_eight__ {
        padding-top: 30px !important;
        padding-bottom: 25px !important;
    }
    
    .fixed-header {
        top: 0;
        left: 50%;
        position: absolute;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    }
    
    .fixed-header #main_search_bar:focus {
        border: 0!important;
    }
    
    .search_bar_body {
        width: 100%;
        height: 55px;
        position: fixed;
        z-index: 10;
    }
    
    .search_bar_body_main {
        width: 95%;
        margin: 0 auto;
    }
    
    #search_clear {
        position: absolute;
        color: #444;
        right: 25px;
        font-size: 15px;
        z-index: 10;
    }
    
    .fixed-header #main_search_bar {
        border: 0;
        font-size: 12px;
    }
    
    .vat_page_tp_review_pro {
        padding: 4px !important;
        height: 325px;
    }
    
    .top_reviewed_side_bar .tob_reviewed_badge {
        right: 4px;
        top: 3px;
    }
    
    .cart_index_side.cat {
        margin-top: 0!important;
    }
    
    .product_card_img_hme {
        width: 100%;
    }
    
    .top_review_img_pro_per_se {
        padding: 10px 30px;
    }
    
    .quantity_count_view__ {
        margin-top: 15px;
    }
    
    .cart_card_body__,
    .cart_card_body__view,
    .cart_summery_info_price,
    .order_payment_form_var,
    .ship_title_head__,
    .cart_details_table_form,
    .order_payment___,
    .apply_promo_box_bar {
        padding: 10px 0px !important;
        font-weight: 600;
    }
    
    .ship_title_head__ {
        padding: 0px 10px;
    }
    
    .cart_details_table_form {
        box-shadow: none;
    }
    
    .order_payment___ {
        padding: 0px 10px;
    }
    
    .order_payment_form_var {
        padding: 0px 10px 20px 10px;
    }
    
    .custom-control-label::before,
    .custom-control-label::after {
        top: 0;
    }
    
    .order_payment___ h5 {
        font-size: 16px;
    }
    
    textarea.form-control::placeholder {
        font-size: 12px;
    }
    
    .details_pro_bottom p {
        line-height: 1.4;
    }
    
    .card-body.pro_share_card_body {
        padding: 15px!important;
    }
    
    #transaction {
        z-index: 3040;
    }
    
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #000;
    }
    
    .spinner-grow-sm {
        width: .50rem;
        height: .50rem;
    }
    
    #order_status,
    .order_details__track,
    .order_details__,
    .order_details__address,
    .order_details__payment,
    .order_details__payment_tran,
    .order_summery__,
    .order_summery__wish,
    .order_summery__views,
    .order_summery_rate,
    .order_summery_write_review,
    .order_customer__,
    .wish_empty_img_tran_card,
    .store_pro_info .card-body {
        padding: 10px 5px;
    }
    
    .menu_sub_cat_mobile_view {
        padding: 10px 15px;
    }
    
    .order_details__payment_tran_class {
        padding: 0px 15px!important;
    }
    
    .h5,
    h5 {
        font-size: 16px;
        font-weight: 600;
    }
    
    .product_show_tab_item_link {
        font-size: 15px;
    }
    
    .order_summery_write_review_seller {
        margin-top: 15px;
        border-top: 1px solid #ddd;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .write_good_review {
        top: 460px;
        left: 0;
        width: 100%;
    }
    
    .side_bar_customer_part.user {
        display: none;
    }
    
    .mobile_varify_status {
        margin-top: 5px;
    }
    
    .icche_menu .list-group-item {
        font-size: 13px;
        padding: 10px 40px;
        border-bottom: 1px solid #ddd !important;
    }
    
    .user_options #pills-tabContent {
        padding: 10px 0px !important;
        overflow: hidden;
        height: 100%;
    }
    
    #user_options #pills-tab {
        color: #fff;
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 7px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .form-group.log_reg_form label {
        font-size: 12px;
    }
    
    .form-group.log_reg_form input::placeholder {
        font-size: 12px;
    }
    
    .notify_empty_img img {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    
    div#example1_length {
        left: 0;
        position: absolute;
        z-index: 1;
    }
    
    div#example1_filter {
        right: 0;
        position: absolute;
        z-index: 1;
    }
    
    #example1 {
        margin-top: 47px !important;
    }
    
    div#example1_info,
    div#example1_paginate {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }
    
    .nav_m_shoing_card {
        padding: 6px 5px !important;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    .nav_m_shoing_card .collapse.show {
        padding: 9px 0px 0px 0px;
        border-top: 1px solid #ddd;
        margin-top: 9px;
    }
    
    .card_body_m___ {
        padding: 0px 6px;
    }
    
    .share_pro_btn i,
    .add_wish_pro_btn i {
        font-size: 18px;
    }
    
    .cart_btn_pro_main {
        display: none;
    }
    
    .cart_btn_pro_main.fixed_btn {
        position: fixed;
        bottom: 0;
        z-index: 3070;
        display: block!important;
        width: 100%;
        border-radius: 0;
        margin: 0;
        right: 0;
        transition: 0.23s ease all;
        height: 55px;
        font-weight: 600;
        background: #fff;
    }
    
    .product_page_cart_btn {
        width: 50%;
        height: 60px;
        font-size: 13px;
        border-radius: 0;
    }
    
    .cart_btn_pro_main.fixed_btn .product_page_cart_btn {
        position: fixed;
        bottom: 0;
        z-index: 3070;
        width: 50%;
        border-radius: 0;
        margin: 0;
        right: 0;
        transition: 0.23s ease all;
        height: 60px;
        font-weight: 600;
    }
    
    .cart_btn_pro_main.fixed_btn .product_page_cart_btn.buy_now__ {
        position: fixed;
        bottom: 0;
        z-index: 3070;
        width: 50%;
        border-radius: 0;
        margin: 0;
        left: 0;
        transition: 0.23s ease all;
        height: 60px;
        border-right: 0;
        font-weight: 600;
    }
    
    .product-details {
        margin-top: 20px;
    }
    
    .magnifier,
    .tracker,
    .statusdiv,
    .cursorshade {
        display: none!important;
    }
    
    .magnifier {
        width: 90% !important;
        height: 222px !important;
        left: 50% !important;
        top: 600px !important;
        transform: translate(-50%);
    }
    
    #productForm {
        line-height: 30px;
    }
    
    .rating_review {
        line-height: 1.5;
    }
    
    .purchase_varified {
        font-size: 10px;
    }
    
    .delivery_option_info h6,
    .return_warranty_info h6 {
        font-size: 13px;
    }
    
    .text_about_delievry,
    .text_about_warranty {
        font-size: 12px;
    }
    
    .quantity_count_sold_others {
        font-size: 13px;
    }
    
    #check_cost_ship li {
        font-size: 12px;
    }
    
    .check_cost_ship_card {
        padding: 0;
    }
    
    .list-group-item.place_name_list {
        padding: 10px 15px;
    }
    
    #check_cost_ship li:hover {
        background-color: rgba(238, 238, 238, 0.24);
    }
    
    .check_cost_ship_card_new {
        padding: 7px 8px 1px 8px;
        background: #fff;
        border-radius: 7px !important;
    }
    
    #check_cost_ship {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .check_cost_ship_wrapper,
    .card_wrong_info_report,
    .pro_details_card_body_pro_bottom,
    .delivery_option_info_wrapper,
    .return_warranty_info_wrapper,
    .others_order_details_card_body,
    .write_good_review_wrapper {
        position: absolute;
        left: 50%;
        bottom: 0;
        top: initial;
        transform: translate(-50%, 0%);
        padding: 20px 15px;
        width: 100%;
        border-radius: 20px 20px 0px 0px!important;
        background: #fff;
    }
    
    .check_cost_ship,
    .delivery_option_info,
    .wrong_info_report_card,
    .return_warranty_info,
    .pro_details_card_pro_bottom,
    .others_order_details_card,
    .write_good_review {
        position: fixed;
        /* Stay in place */
        z-index: 9999;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        border-radius: 0;
    }
    
    .side_bar_customer_part.pro_details .list-group-item {
        padding: 6px 0px;
    }
    
    .pro_share_card_body h6,
    .product_side_bar h6 {
        font-size: 13px;
    }
    
    .pro_share_card_body {
        padding: 11px;
    }
    
    .card-categories-li-collection-col {
        height: 155px;
    }
    
    .home_one_slider_img {
        max-height: 205px;
        min-height: 100%;
        border-radius: 0;
    }
    
    #demo {
        position: absolute;
        left: 0;
        width: 100%;
    }
    
    .home_one_slider_img img {
        width: 100%;
        height: 100%;
    }
    
    .after_one_slider__ {
        margin-top: 49% !important;
        white-space: nowrap;
        flex-wrap: nowrap;
        max-width: 100%;
        overflow-y: hidden;
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }
    
    .item_card_eight__ img {
        width: 100px !important;
    }
    
    .feature_img_wrapper {
        width: 100px;
    }
    
    .breadcrumb {
        padding: 10px 0px 15px 0px;
    }
    
    .category_filter_item_head.store {
        padding: 0 !important;
    }
    
    .cat_search_all_search {
        position: inherit;
        width: unset;
        left: unset;
        top: unset;
    }
    
    .title_m_view__,
    #cart_count,
    #notification_count {
        font-size: 18px;
        font-weight: 600;
    }
    
    .flex_title_view_screen {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    
    .sweet-alert .lead {
        text-align: center;
    }
    
    .login_reg_card {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
    
    .login_board_inputs {
        border: 0;
    }
    
    .login_reg_top_btn .nav-link {
        padding: 8px;
    }
    
    .login_registration input {
        padding: 19px 10px;
    }
    
    .google-icon,
    .facebook-icon {
        width: 20px !important;
    }
    
    .btn-text {
        font-size: 15px;
    }
    
    #title_pass {
        position: relative;
        justify-content: center;
        display: flex;
        margin-bottom: 14px;
        font-size: 13px;
    }
    
    .transact_btn button,
    .transact_btn_s {
        font-size: 11px !important;
    }
    
    .transact_btn {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .transact_btn_s {
        margin-left: 10px;
    }
    
    .transact_btn_s:hover {
        background-color: transparent !important;
        color: crimson;
    }
    
    #transaction .modal-title {
        font-size: 13px;
    }
    
    #transaction .modal-body {
        font-size: 11px;
    }
    
    #transaction td {
        padding: 0 5px;
    }
    
    .order_details__per__ {
        border: 0px solid #ddd;
        border-radius: 0px;
    }
    
    .order_summery__ li {
        font-size: 12px !important;
    }
    
    .body_customer_part h5 {
        font-size: 13px;
    }
    
    .order_____status {
        margin-top: 25px;
    }
    
    section.root {
        padding: unset;
        border-radius: unset;
        box-shadow: unset;
    }
    
    figure img {
        width: 4rem;
        height: 4rem;
        padding: 10px;
    }
    
    figure figcaption h6 {
        line-height: 1;
        font-size: 13px !important;
    }
    
    figure figcaption h4 {
        font-size: 14px !important;
        font-weight: 600;
        line-height: 1;
    }
    
    figure figcaption h2 {
        line-height: 1;
        font-size: 13px !important;
        font-weight: 600;
    }
    
    .signin_fixed_bar {
        height: 39px!important;
    }
    
    .sidebar_title_img_text {
        font-size: 14px !important;
    }
    
    .body_customer_part input,
    .body_customer_part select {
        font-size: 13px;
        height: 39px;
    }
    
    .body_customer_part textarea {
        font-size: 13px;
    }
    
    .search_bar_body_top_btn li a {
        padding: 7px 10px!important;
        font-size: 12px!important;
    }
    
    #show_search_result_product a,
    #show_search_result_cat a,
    #show_search_result_brand a,
    #show_search_result_store a {
        font-size: 12px !important;
    }
    
    .menu-level1 .menu-link {
        padding: 8px 0px!important;
    }
    
    .seller_info_banner {
        height: 190px;
    }
    
    .icche-card-stores-brand-overlay-profile {
        height: 63px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.36) 100%);
    }
    
    .seller_profile_info__ {
        height: 191px;
    }
    
    .class_name_seller {
        font-size: 30px;
        text-align: center;
        color: #000;
        text-shadow: none;
    }
    
    .class_slogan_seller {
        color: #000;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .store_seller_rate .col {
        margin-top: 15px !important;
        padding: 0px 0px !important;
    }
    
    .store_side_border.main {
        padding: 15px;
    }
    
    .place_search_all_search {
        width: 100% !important;
        margin: 10px auto;
        top: 419px;
        padding: 10px 7px;
        background: #fff;
    }
    
    .add_new_products.new_product_store_form {
        width: 100%;
        border-radius: 0;
    }
    
    .recent_popular_tab_hm {
        margin-top: 10px !important;
    }
    
    .big_category_view.card-columns,
    .todays_deals_view.card-columns,
    .premium_deals_view.card-columns,
    .great_deals_view.card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 14px;
        -moz-column-gap: 14px;
        column-gap: 14px;
    }
    
    #get_modified_info {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 14px;
        -moz-column-gap: 14px;
        column-gap: 0px;
    }
    
    #get_modified_info .card {
        margin: 0;
    }
    
    .cat_img_view_big {
        max-height: 70px;
    }
    
    .main_footer_mobile {
        padding: 0;
    }
    
    #toast-container {
        margin-bottom: 80px!important;
    }
    
    #toast-container>div {
        padding: 12px 12px 12px 50px!important;
    }
    
    .product_review_user_form,
    .order_summery_write_review_seller {
        border: 1px solid #ddd;
        border-radius: 7px;
        margin: 6px;
        padding: 20px 15px;
    }
    
    .product_review_user_form_title {
        font-size: 14px;
        font-weight: 600;
    }
    
    .review_card_form_all {
        margin-top: 0 !important;
    }
    
    .order_summery_write_review_title_head {
        margin-top: 8px;
    }
    
    .review_hr_top,
    .details_status_hr {
        display: none;
    }
    
    .taka_sign::before {
        content: "\09f3";
        font-size: 14px;
        font-weight: 600;
        margin-right: 2px;
        font-family: initial;
    }
    
    .address_payment_info__ {
        padding-right: 15px !important;
    }
    
    .pro_mobile_title {
        font-size: 15px !important;
        font-weight: 600 !important;
    }
    
    .edit_photo_logo {
        position: absolute;
        left: 60%;
        transform: translate(-50%);
        bottom: -30px;
        font-size: 12px;
        width: 25px;
        height: 25px;
        background: #eee;
        text-align: center;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        cursor: pointer;
    }
    
    .edit_photo_banner {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        width: 25px;
        height: 25px;
        background: #eee;
        text-align: center;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        cursor: pointer;
        right: 10px;
    }
    
    .edit_name_slogan {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        width: 25px;
        height: 25px;
        background: #eee;
        text-align: center;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        cursor: pointer;
        right: 45px;
    }
    
    .edit_photo_banner:hover,
    .edit_photo_logo:hover {
        background: #ccc;
    }
    
    .edit_select_product {
        position: relative;
        width: 100%;
        margin: 15px auto 15px auto;
        border-radius: 0;
    }
    
    #delivery_place_info___ {
        padding: 0px;
    }
    
    .modified_form {
        margin: 15px 0px 0px 0px;
        border-radius: 0;
    }
    
    #delivery_place_info____view {
        flex-basis: auto;
    }
    
    #delivery_place_info____view td {
        padding: 7px 0px;
    }
    
    #delivery_place_info____view .deli_class_name_ {
        padding: 15px;
        border-radius: 0px;
    }
    
    .deli_class_name_ h6 {
        font-size: 14px;
    }
    
    td.title_del {
        font-size: 13px;
    }
    
    .tab_pro_seller__ .nav-link {
        padding: 6px;
    }
    
    .class_name_seller__ {
        position: relative;
        line-height: 1.3;
        top: 58px;
        left: inherit;
        bottom: inherit;
    }
    
    .banner_wrapper {
        height: 191px;
    }
    
    .cart_index_side {
        border: 0;
        margin: 0px 0px 15px 0px;
        border-radius: 0;
        padding-left: 15px !important;
        border-radius: 0 !important;
    }
    
    .mobile-bottom-nav__item .icon.mdi::before {
        font-size: 20px;
    }
    
    .order_summery__ {
        padding: 15px !important;
    }
    
    .more_order_history i::before {
        font-size: 22px;
    }
    
    .card_mobile_verify_prompt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 30px 5px !important;
    }
    
    .product_basic_info_details {
        padding: 10px !important;
        border-radius: 0 !important;
    }
    
    .side_bar_customer_part.pro_details {
        padding: 15px;
        margin: 0;
    }
    
    .product_detials_main_body {
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .side_bar_customer_part.eight {
        background: transparent;
    }
    /*
.timer_minutes_wrap,
.timer_hours_wrap,
.timer_seconds_wrap,
.timer_days_wrap {
    margin-left: 8px;
    font-size: 12px;
    width: 60px;
}

.timer_great_deals .timer_days,
.timer_great_deals .timer_hours,
.timer_great_deals .timer_minutes,
.timer_great_deals .timer_seconds {
    font-size: 17px;
}

.days_title,
.hours_title,
.minutes_title,
.seconds_title {
    margin: 7px 0px;
}

.great_deals_more__ {
    height: 40px;
}

.head_title_home__.great {
    flex-direction: column;
}

.great_deals_title_head__ {
    display: flex;
    flex-direction: column;
}

.timer_great_deals {
    margin: 13px 0px;
}

#great_deals_body_wrap {
    border-radius: 0;
}
*/
    
    .timer_great_deals {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .load_data_table_featured .side_bar_customer_part.eight {
        margin: 0;
        padding: 7px !important;
    }
    
    .after_one_slider__ .top_products_first {
        padding: 0px;
        margin-right: 10px;
    }
    
    .top_res_acount_button i::before {
        background: #f0f2f5;
        border-radius: 40px;
        width: 40px;
        color: #444;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    
    .mobile-bottom-nav__item:hover {
        background: #f0f2f5;
        border-radius: 7px;
        width: 80px;
        margin: 0 auto;
    }
    
    .mobile-bottom-nav__item {
        width: 80px;
        margin: 0 auto;
    }
    
    .card-body.order_summery__,
    .card-body.order_details__,
    .card-body.order_details__track,
    .card-body.order_details__payment_tran,
    .card-body.order_details__address,
    .card-body.order_details__payment,
    .card-body.order_summery__wish,
    .card-body.wish_empty_img_tran_card,
    .card-body.order_summery_rate,
    .card-body.order_summery__views,
    .card-body.order_customer__.info_edit,
    .card-body.order_summery_write_review,
    .order_summery_write_review_title_head .card-body {
        background: #fff;
        border-radius: 0;
        padding: 15px;
        margin: 15px -15px 0px -15px;
    }
    
    .img_wrapper_store {
        padding: 10px;
        border: 0;
        border-radius: 5px;
        margin: 5px;
        background: #fff;
    }
    
    .content-header>.breadcrumb {
        margin-top: 20px!important;
    }
    
    #details_about_product {
        padding: 0 !important;
    }
    
    .details_about_product_menu_view_all,
    .details_title_view_pan_related {
        border-radius: 0px !important;
    }
    
    .store_seller_rate .fa-edit:hover {
        background: #f0f2f5;
    }
    
    .store_seller_rate .fa-edit {
        padding: 7px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -6px;
    }
    
    .order_details__per__ hr {
        margin: 0;
    }
    
    .store_side_border {
        border-radius: 0;
    }
    
    .seller_reviews_store___ {
        background: #fff;
        border-radius: 0px;
        margin: 15px -8px;
        padding: 15px 30px !important;
    }
    
    .store_top_options {
        background: #fff;
        padding: 15px !important;
        border-radius: 0;
    }
    
    .product_basic_info_details_store .stre_wrapper_body_all_info {
        padding: 0;
    }
    
    #product_info_edit {
        width: 100% !important;
        border-radius: 0 !important;
    }
    
    #show_previous_photo {
        margin-top: 15px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
        orphans: 1;
        widows: 1;
    }
    
    .category_filter_item_head.store {
        padding: 0px 15px !important;
        background: #fff;
        margin-top: 10px;
    }
    
    .store_side_border,
    .store_side_border.main,
    .modified_form {
        padding: 15px 30px;
    }
    
    .pro_my_hr_view {
        margin: 15px -15px;
        height: 15px;
        background: #f0f2f5;
    }
    
    .category_filter_item_head.cat_list .card-body:nth-child(1) {
        background: #fff;
        margin: 15px 0px;
        padding: 0px 0px !important;
        border-radius: 7px;
        height: 50px;
        box-shadow: none;
    }
    
    .category_filter_item_head.cat_list .cat_search_all_search {
        position: absolute;
        right: 0px;
        left: inherit;
        top: 30px;
    }
    
    .main_row_div_class {
        padding: 0px 10px;
    }
    
    .cart_index_body .card {
        box-shadow: none;
    }
    
    .card-body.order_summery__ {
        box-shadow: none;
    }
    
    .name_top_big_btn {
        font-size: 13px;
    }
    
    .img_wrapper_top_btn {
        height: 50px
    }
    
    .main_home_slider {
        margin-top: 0px;
    }
    
    .login_side_image_wrappper {
        display: none;
    }
    
    .login_board_inputs {
        background: #fff;
        border-radius: 0px;
        padding: 20px 15px;
        box-shadow: 0 1px 2px rgb(0, 0, 0, 0.2);
    }
    
    .main_top_cate_____View {
        margin-top: 205px !important;
    }
    
    .main_cat_top_view_class .side_bar_customer_part {
        background: transparent;
        margin-top: 10px;
        box-shadow: none;
    }
    
    .col_cat_view_top {
        margin: 6px;
    }
    
    .body_customer_part.two {
        margin-top: 12px;
    }
    
    .img_wrapper_tp_cat img {
        height: 50px;
    }
    
    .img_wrapper_tp_cat {
        height: 100px;
    }
    
    .top_products_first {
        padding: 4px;
    }
    
    .main_cat_top_view_class {
        margin-top: 4px;
    }
    
    .top_res_acount_button i::before:hover {
        background: #4285f4;
    }
    
    .menu_tooltiptext {
        display: none;
    }
    
    .home_alert_class_two {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        background: #fff;
        border-radius: 15px !important;
    }
    
    .card.menu_notify_mobile_view.main_category_new_class {
        padding: 15px 20px !important;
    }
    
    .check_cost_ship_wrapper .close_btn,
    .wrong_info_report_card .close_btn {
        border-radius: 0 20px 0 20px;
    }
    
    .shipping_address_city,
    .shipping_address_area {
        top: 34px;
    }
    
    .shipping_address_city.pro,
    .shipping_address_area.pro {
        top: 35px;
    }
    
    .col.side_bar_customer_part.two {
        padding: 0 9px !important;
    }
    
    .body_customer_part.about {
        margin-top: 10px;
        padding: 0 !important;
        background: #fff;
        box-shadow: 0 1px 2px rgb(0, 0, 0, .2);
    }
    
    #contact_us_form_icche {
        box-shadow: none;
    }
    
    .contact_form_class div {
        padding: 0;
    }
    
    .contact_info_icche_side {
        padding: 30px 15px;
    }
    
    .icche_menu_about a:last-child {
        border-bottom: 0;
    }
    
    .icche_menu_about .list-group-item {
        padding: 10px;
    }
    
    .icche_menu_about .list-group-item:hover {
        background: #f0f2f5;
        border-radius: 7px;
    }
    
    .about_us_page_heading h5 {
        font-size: 20px;
    }
    
    .icche_menu_about .list-group-item.active {
        border-bottom: 0;
        border-radius: 7px;
    }
    
    .cart_body_index_page_info_price {
        font-size: 15px;
    }
    
    .edit_delivery_info {
        width: 30px;
        height: 30px;
        background: #f0f2f5;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .edit_delivery_info:hover {
        background: #c2daff;
    }
    
    .store_pro_wrapper_str_hm {
        left: 50%;
        width: 100px;
        height: 100px;
        border: 6px solid #fff;
        bottom: -45px;
        transform: translate(-50%);
    }
    
    .seller_info_pro_img {
        width: 90px;
    }
    
    .home_store_card_view,
    .load_data_table_great,
    .category_all_home_page,
    .load_data_table_featured,
    .load_data_table_popular,
    .load_data_table_viewed,
    .load_data_table_popular,
    .main_cat_top_view_class,
    .load_data_table_recent,
    .row_scroll_hotizontally_m {
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }
    
    .store_info_value {
        font-size: 20px;
        font-weight: 600;
    }
    
    .card.search_result_body.scroll_search {
        top: 60px;
    }
    
    .search_result_view {
        padding: 0px 10px!important;
    }
    
    .form_control_quantity.cart {
        width: 100% !important;
    }
    
    .input-group.quantity_count_form.cart {
        width: min-content;
        overflow: hidden;
    }
    
    .cart_subtotal_product.cart {
        position: absolute;
        right: 45%;
    }
    
    .card_title_top_collection {
        padding: 10px 5px;
        font-size: 13px;
    }
    
    .cat_name_products_order_details a,
    .cat_name_products_order_details {
        font-size: 12px !important;
    }
    
    .product_name_order a,
    .product_name_order {
        font-size: 13px!important;
    }
    /*
    .order-track-status-dot {
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .order_track_details .order-track-status {
        transform: translate(20%);
    }
    
    .order-track-status-line {
        height: 2px;
        top: 10px;
    }
    
    .order_track_details .order-track-status-line {
        width: 68%;
    }
    
    .order-track-details {
        padding: 0;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .order-track-details-text-stat {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 1px;
    }
    
    .order-track-details-text-sub {
        font-size: 12px;
        font-weight: 400;
    }
    
    .check_sign_tracker {
        top: 5px;
        left: 6px;
    }
    
    .fa-check.check_sign_tracker {
        top: 4px;
        left: 5px;
        font-size: 10px;
    }
    
    .order-track-text-stat {
        font-size: 9px;
        font-weight: 400;
    }
    
    .order-track-text-sub {
        font-size: 9px;
        text-align: left;
        line-height: 1;
    }
    
    .order-track-step {
        margin-top: 12px;
    }
    
    .order-track-text {
        line-height: 1;
        text-align: left;
    }
    
    .order-track-status {
        position: relative;
        transform: translate(10px);
    }
    
    .order-track-status-line {
        width: 70%;
    }
    
    .order-track-details-status-line {
        height: 6rem;
    }
    
    .order-track-details-step {
        display: flex;
        height: 6rem;
    }
    
    */
    
    .order-track-details-status-line {
        height: 5rem;
    }
    
    .order-track-details-step {
        height: inherit;
    }
    
    .order-track {
        margin-top: 2rem;
        padding: 0 1rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
    }
    
    .order-track-step {
        display: flex;
        height: 70px;
        max-width: inherit;
        flex: unset;
    }
    
    .order-track-step:last-child {
        overflow: hidden;
        height: 4rem;
    }
    
    .order-track-step:last-child .order-track-status span:last-of-type {
        display: none;
    }
    
    .order-track-status {
        margin-right: 1.5rem;
        position: relative;
        transform: unset !important;
    }
    
    .order-track-status-dot {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        background: #f05a00;
    }
    
    .order-track-status-line {
        display: block;
        margin: 0 auto;
        width: 2px!important;
        height: 3rem;
        position: unset;
    }
    
    .order-track-text-stat {
        font-size: 15px;
        font-weight: 600;
        margin-top: 0 !important;
        margin-bottom: 0;
    }
    
    .order-track-text-sub {
        font-size: 14px;
        font-weight: 300;
    }
    
    .order-track {
        transition: all .3s height 0.3s;
        transform-origin: top center;
    }
    
    #order_status {
        text-align: left;
    }
    
    .check_sign_tracker {
        position: absolute;
        top: 10px;
        left: 11px;
        color: #fff;
    }
    
    .spinner-grow.check_sign_tracker {
        position: absolute;
        top: 13px;
        left: 14px;
    }
    
    .store_body_top___ {
        margin: 0px -8px;
    }
    /*
.top_res_acount_button {
	display: block !important;
	z-index: 2020;
	position: absolute;
	right: 18px;
	color: #444;
	top: -43px;
	font-size: 25px;
}
*/
    /*
    .top_res_acount_button {
        z-index: 2020;
        position: absolute;
        right: 18px;
        top: -40px;
        font-size: 16px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        width: 30px;
        height: 30px;
    }
    
    .img_user_mob_wrapper {
        height: 28px;
        width: 28px;
        overflow: hidden;
        max-height: 90px;
        border-radius: 60px;
        position: absolute;
        z-index: 3030;
        right: 20px;
        top: -38px;
    }
       img.top_res_acount_button {
        width: 28px;
        position: inherit;
        right: initial;
        top: initial;
    }*/
    
    .img_user_mob_wrapper {
        position: absolute;
        right: 15px;
        top: -42px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
    }
    
    .top_res_acount_button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
    }
    
    .img_user_mob_wrapper {
        border: 4px solid rgba(218, 218, 218, 0.31);
    }
    
    .img_user_mob_wrapper:hover {
        border: 4px solid rgba(66, 133, 244, 0.31);
    }
    
    .pro_details_card_pro_bottom {
        border-radius: 0!important;
        display: none;
    }
    
    .pro_details_card_body_pro_bottom {
        border-radius: 20px 20px 0px 0px!important;
    }
    
    .pro_details_card_body_pro_bottom .close_btn {
        border-radius: 0px 20px 0px 20px!important;
    }
    
    .pro_details_card_body_pro_bottom {
        max-height: 70%;
        overflow-y: auto;
    }
    
    .pro_details_card_body_pro_bottom .close_btn,
    .pro_details_card_body_pro_bottom .close_btn_wrapper {
        display: block;
    }
    
    .order-track-details {
        background: #fff;
        padding: 30px 30px;
        border-radius: 20px 20px 0px 0px !important;
    }
    
    .others_order_details_card_body {
        max-height: 75%;
        overflow-y: auto;
    }
    
    .card-body.cart_card_body__view,
    .card-body.order_payment_form_var,
    .card-body.order_payment___,
    .card-body.ship_title_head__,
    .card-body.cart_card_body__ {
        box-shadow: none;
    }
    
    .deli_class_name_ {
        margin-top: 15px;
    }
    
    .category_filter_item_head.cat_list .filter_icon {
        margin-top: 10px;
    }
    
    .col_top_review {
        margin-bottom: 0px !important;
    }
    
    .icche_menu a:last-child {
        border-radius: 0;
        border-bottom: 0;
    }
    
    .category_filter_item_head.store #cat_search_all {
        background: #f0f2f5;
    }
    
    .icche_menu.list-group {
        box-shadow: unset;
    }